body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
}

.input-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input-group input[type="number"],
.input-group select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

.input-group input[type="number"]:focus,
.input-group select:focus {
    border-color: #007bff;
}

.input-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.input-group button:hover {
    background-color: #0056b3;
}

#holidayList {
    list-style-type: none;
    padding: 0;
}

.hidden {
    display: none;
}

.holiday-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.holiday-item:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.holiday-item div {
    margin-bottom: 8px;
}

.holiday-item div:first-child {
    font-size: 18px;
    font-weight: bold;
}

.holiday-item div:last-child {
    color: #888;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	background: transparent;
}

footer a {
	margin: 0 15px;
	display: inline-block;
	font-size: 20px;
	color: #1e1f22;
	animation: neonGlow 2s infinite alternate;
}